{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <h1>Settings</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ setting.title }}</td>
            </tr>
            <tr>
                <th>Aciklama</th>
                <td>{{ setting.aciklama }}</td>
            </tr>
            <tr>
                <th>Keyword</th>
                <td>{{ setting.keyword }}</td>
            </tr>
            <tr>
                <th>Firmname</th>
                <td>{{ setting.firmname }}</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>{{ setting.adres }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ setting.fax }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ setting.tel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ setting.email }}</td>
            </tr>
            <tr>
                <th>Smtpserver</th>
                <td>{{ setting.smtpserver }}</td>
            </tr>
            <tr>
                <th>Smtpmail</th>
                <td>{{ setting.smtpmail }}</td>
            </tr>
            <tr>
                <th>Smtppass</th>
                <td>{{ setting.smtppass }}</td>
            </tr>
            <tr>
                <th>Smtpport</th>
                <td>{{ setting.smtpport }}</td>
            </tr>
            <tr>
                <th>About_us</th>
                <td>{{ setting.aboutUs }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ setting.contact }}</td>
            </tr>
            <tr>
                <th>Referans</th>
                <td>{{ setting.referans }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_settings_index') }}">back to list</a>

    <a href="{{ path('admin_settings_edit', {'id': setting.id}) }}">edit</a>

    {{ include('admin_settings/_delete_form.html.twig') }}
{% endblock %}
